.modal {
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.9);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.content {
    min-width: 340px;
    min-height: 200px;
    width: auto;
    max-width: 750px;
    background: #fff;
    position: relative;
    margin: 0 auto;
}

.image {
    min-width: 340px;
    min-height: 200px;
    width: 100%;
}

.image img {
    width: 100%; /* Ширина изображения */
    height: 100%; /* Высота изображения */
}

.close {
    position: absolute;
    top: 0;
    right: -35px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .content {
        width: 90%;
        min-width: 100px;
        max-width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .content {
        width: 90%;
        min-width: 100px;
        max-width: 350px;
    }
}

@media screen and (max-width: 450px) {
    .content {
        width: 90%;
        min-width: 100px;
        max-width: 300px;
    }

    .image {
        min-width: 300px;
    }
}
